body {
	font-size: small;
	font-family: Verdana, sans-serif;
	line-height: 1.6em;
}

pre {
	margin: 20px;
	margin-right: 80px;
	background-color: white;
	line-height: 1.3em;
}

p {
	margin-left: 20px;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

#htmlParagraph {
	color: #e54d26;
}

#cssParagraph {
	color: #0071bd;
}

#jsParagraph {
	color: #e7a229;
}

#learnList {
	background-image: url(../images/znak.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 75px;
	margin-left: 20px;
	font-family: serif;
	font-size: large;
}

blockquote {
	line-height: 1.8em;
}